{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block body_content %}
<script src="{{ url_for('static', filename='dash.js') }}">
</script>
<div class="dash-wrapper">
    <div class="nav-wrapper">
        <div class="logo-wrap">
            <div class="logo-cont-outer">
                <div class="logo-cont-inner">
                    <i class="fas fa-camera-retro"></i>
                </div>
            </div>
            <div class="logo-user-name-cont">
                <h2 id="logo-username"></h2>
            </div>
        </div>
        <div class="nav-main-wrap">
            <div id="default-select" class="navitem-cont unfocus-nav-item">
                <div class="hightlight-container"></div>
                <div class="selected-container"></div>
                <div class="nav-item-i-wrap">
                    <i class="far fa-images"></i><span class="nav-header" id="gallery-header"></span>
                </div>
            </div>
            <div class="navitem-cont unfocus-nav-item">
                <div class="hightlight-container"></div>
                <div class="selected-container"></div>
                <div class="nav-item-i-wrap">
                    <i class="fas fa-upload"></i><span class="nav-header" id="upload-header"></span>
                </div>
            </div>
            <div class="navitem-cont unfocus-nav-item">
                <div class="hightlight-container"></div>
                <div class="selected-container"></div>
                <div class="nav-item-i-wrap">
                    <i class="fas fa-user-cog"></i><span class="nav-header" id="settings-header"></span>
                </div>
            </div>
            <div class="navitem-cont unfocus-nav-item">
                <div class="hightlight-container"></div>
                <div class="selected-container"></div>
                <div class="nav-item-i-wrap">
                    <i class="fas fa-chart-line"></i><span class="nav-header" id="loging-act-header"></span>
                </div>
            </div>
            <div class="navitem-cont unfocus-nav-item">
                <div class="hightlight-container"></div>
                <div class="selected-container"></div>
                <div class="nav-item-i-wrap">
                    <i class="fas fa-history"></i><span class="nav-header" id="upload-act-header"></span>
                </div>
            </div>

        </div>
        <div class="logout-wrap">
            <div class="navitem-cont logout-btn-i-wrap unfocus-nav-item">
                <div class="hightlight-container"></div>
                <div class="nav-item-i-wrap">
                    <i class="fas fa-sign-out-alt"></i><span class="nav-header" id="logout-header">Logout</span>
                </div>
            </div>
        </div>
    </div>
    <div class="dash-cont">
        <div class="dash-items photos-cont animated fadeIn">
            <div class="photos-cont-wrap">
                <h1 id="photo-title"></h1>
                <div class="photo-box">
                </div>
            </div>
        </div>
        <div class="dash-items upload-cont animated fadeIn">
            <div class="upload-header-wrap">
                <h1 id="upload-title"></h1>
                <div class="upload-box">
                    <div class="file-box-wrap">
                        <div class="file-border">
                            <span class="dashing"><i></i></span>
                            <span class="dashing dash-sides"><i></i></span>
                            <span class="dashing"><i></i></span>
                            <span class="dashing dash-sides"><i></i></span>
                            <form class="file-upload-form">
                                <div class="file-box">
                                    <div class="file-box-icon">
                                        <i class="fas fa-upload"></i>
                                    </div>
                                    <div class="file-box-text-wrap">
                                        <span id="file-box-text"></span>&nbsp<label id="file-label" for="file"><span id="upload-click-me"></span></label>
                                    </div>
                                </div>
                                <input type="file" id="file" name="file" class="fileinp" multiple>
                            </form>
                        </div>
                    </div>
                    <div class="uploading-loading-cont">
                        <div class="loader"></div>
                        <h1 id="uploading-desc"></h1>
                    </div>
                    <div class="progress-wrap"></div>
                    <div class="button-wrap"></div>
                </div>
            </div>
        </div>
        <div class="dash-items acc-man-cont animated fadeIn">

            <div class="acc-man-left-cont">
                <div class="dash-items-cont-header-wrap">
                    <span id="header-acc-man"></span>
                </div>
                <div class="acc-man-options-cont">
                    <div class="acc-man-options">
                        <div class="acc-man-flex-wrap">
                            <div class="acc-man-option-wrap">
                                <i class="fas fa-key"></i><span class="acc-man-options-header" id="changepass-header"></span>
                            </div>
                            <div class="acc-man-option-wrap">
                                <i class="fas fa-language"></i><span class="acc-man-options-header" id="lang-header"></span>
                            </div>
                            <div class="acc-man-option-wrap delete-acc-option">
                                <i class="fas fa-times-circle"></i><span class="acc-man-options-header" id="delete-header"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="acc-man-right-cont">
                <div class="acc-man-items change-pass-cont">
                    <div class="change-pass-wrap animated fadeIn fast">
                        <input type="password" class="change-pass-inp" id="change-pass-old-pass" placeholder="Old Password">
                        <input type="password" class="change-pass-inp" id="change-pass-new-pass" placeholder="New Password">
                        <input type="password" class="change-pass-inp" id="change-pass-new-pass-conf" placeholder="Confirm New Password">
                        <div class="update-pass-error-wrap">
                            <span id="update-pass-error"></span>
                        </div>
                        <button id="acc-update-pass-btn"></button>
                    </div>
                </div>
                <div class="acc-man-items change-lang-cont">
                    <div class="change-lang-wrap animated fadeIn fast">
                        <h1 id="lang-title"></h1>
                        <div class="lang-wrap">
                            <div class="lang-item-cont">
                                <div class="lang-icon">
                                    <img src="https://png.pngtree.com/svg/20150321/0aa8cd2e9d.png">
                                </div>
                                <div id="lang-name-en" class="lang-name">
                                    <span>English</span>
                                </div>
                            </div>
                            <div class="lang-item-cont">
                                <div class="lang-icon">
                                    <img src="https://static.thenounproject.com/png/2532298-200.png">
                                </div>
                                <div id="lang-name-hi" class="lang-name">
                                    <span>हिन्दी</span>
                                </div>
                            </div>
                            <button id="lang-submit-btn"></button>
                            <div class="lang-item-cont"></div>
                        </div>
                    </div>
                </div>
                <div class="acc-man-items delete-acc-cont">
                    <div class="acc-delete-wrap animated fadeIn fast">
                        <h1 id="delete-acc-title"></h1>
                        <div class="delete-wrap">
                            <input type="password" id="delete-password-inp">
                            <span id="error-delete-acc"></span>
                            <button id="acc-delete-btn"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dash-items login-act-cont animated fadeIn"></div>
        <div class="dash-items upload-hist-cont animated fadeIn"></div>
    </div>
</div>

{% endblock %}