* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.splash_screen-cont {
    width: 100%;
    height: 100%;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
}

.loading-cont {
    width: 100%;
    height: 100%;
    background: rgb(237, 251, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-btn-wrap {
    transform: scale(2);
    color: rgb(18, 1, 255);
    transition: transform 0.2s;
}

.back-btn-wrap:hover {
    transform: scale(3);
    transition: transform 0.2s;
}

.back-btn-wrap>i {
    cursor: pointer;
}

.login-cont {
    overflow: hidden;
    display: none;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.login-box {
    width: 50%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(243, 241, 241, 0.192);
}

.login-box-wrap {
    overflow: hidden;
    width: 90%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-form-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70%;
}

.signup-form-wrap,
.forgot-form-wrap,
.email_code-form-wrap,
.new_password-form-wrap {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 70%;
}

.login-form-wrap>h1,
.forgot-form-wrap>h1,
.email_code-form-wrap>h1,
.signup-form-wrap>h1,
.new_password-form-wrap>h1 {
    align-self: flex-start;
    justify-self: flex-start;
    color: rgb(18, 1, 255);
}

.login-inp {
    width: 80%;
    padding: 10px 15px 10px 15px;
    border: none;
    background: rgba(255, 255, 255, 0.233);
    color: rgb(64, 56, 185);
    font-size: 1.3rem;
}

input:focus {
    outline: none;
}

.login-btn-style {
    overflow: hidden;
    transition: all 0.3s;
    background: none;
    border: 3px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    margin: 1em auto;
    padding: 5px 20px 5px 20px;
    position: relative;
    text-transform: uppercase;
}

.login-btn-style:hover {
    color: rgb(0, 110, 255);
    cursor: pointer;
}

.login-btn-style:disabled {
    pointer-events: none;
    background: grey;
}

.login-btn-style::before,
.login-btn-style::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: -1;
}

.login-btn-style::after {
    height: 100%;
    left: -50%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}

.login-btn-style:hover:after {
    height: 100%;
    width: 155%;
}

.login-btn-style:focus {
    outline: none;
}

#signup-button,
#forgot-button {
    color: blue;
    font-size: 1.2rem;
    cursor: pointer;
}

#forgot-button {
    font-size: 0.4rem;
    text-decoration: underline;
}

.error-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5%;
    color: red;
}

.login-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(235, 249, 252, 0.459);
    backdrop-filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
}

.login-img>div>i {
    font-size: 8rem;
    color: rgba(0, 140, 255, 0.699);
}

.login-spinner-wrap {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    /* background: red; */
}

.login-spinner-wrap>div {
    margin: 0;
    display: none;
}

.login-img>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    height: 50%;
    text-align: center;
    color: rgb(18, 1, 255);
    border-radius: 10px;
}

.login-spinner-wrap>div>div {
    background-color: rgb(250, 250, 250);
}

.login-img>div>h1 {
    font-size: 2.5rem;
}

.login-img>div>h2 {
    font-size: 1.2rem;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgb(119, 119, 119);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%,
    100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

@keyframes flipUp {
    from {
        transform: rotateX(0);
        opacity: 1;
        animation-timing-function: ease-in;
    }
    to {
        transform: rotateX(180deg);
        opacity: 0;
        animation-timing-function: ease-in;
    }
}

@keyframes flipDown {
    from {
        transform: rotateX(180deg);
        opacity: 0;
        animation-timing-function: ease-in;
    }
    to {
        transform: rotateX(0);
        opacity: 1;
        animation-timing-function: ease-in;
    }
}

.flipDown {
    animation-name: flipDown;
}

.flipUp {
    animation-name: flipUp;
}

@media screen and (max-width: 1028px) {
    .login-img {
        display: none;
    }
    .login-box {
        width: 100%;
    }
    .login-form-wrap>h1,
    .forgot-form-wrap>h1,
    .email_code-form-wrap>h1,
    .signup-form-wrap>h1,
    .new_password-form-wrap>h1 {
        font-size: 1.2rem;
    }
    .login-inp {
        padding: 0;
    }
}

@media only screen and (max-width: 1028px) and (orientation: landscape) {
    .login-box-wrap {
        height: 100%;
    }
    .login-form-wrap,
    .signup-form-wrap,
    .forgot-form-wrap,
    .email_code-form-wrap,
    .new_password-form-wrap {
        height: 100%;
        justify-content: space-evenly;
    }
    .login-btn-style {
        font-size: 1em;
        margin: 10px;
    }
    .login-form-wrap>h1,
    .forgot-form-wrap>h1,
    .email_code-form-wrap>h1,
    .signup-form-wrap>h1,
    .new_password-form-wrap>h1 {
        font-size: 1.2rem;
    }
    .login-cont {
        height: 95%;
    }
    .login-inp {
        padding: 0;
    }
}


/* !!!!!-----------------END OF LOGIN PAGE ----------------------!!! */

.dash-wrapper {
    width: 100%;
    height: 100%;
    background: rgba(124, 161, 255, 0.219);
    display: flex;
    font-family: 'Sen', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
}

.nav-wrapper {
    background: rgba(115, 203, 253, 0.178);
    filter: blue(10px);
    height: 100%;
    width: 250px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 50% 1fr 10%;
}

.dash-cont {
    width: calc(100% - 250px);
    height: 100%;
    grid-column: 2;
    grid-row: 1;
}

.logo-wrap {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.logo-cont-outer {
    border-radius: 10px;
}

.logo-cont-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 15px;
    border-radius: 100%;
    height: 50px;
    filter: invert(55%) sepia(84%) saturate(2433%) hue-rotate(163deg) brightness(100%) contrast(107%);
}

.logo-cont-inner>i {
    font-size: 5rem;
    pointer-events: none;
}

.logo-user-name-cont {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-wrap {
    grid-row: 4;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navitem-cont {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 2% 1fr;
    cursor: pointer;
}

.nav-item-i-wrap {
    grid-column: 2;
    display: grid;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 100%;
}

.nav-item-i-wrap>i {
    margin-right: 20px;
    grid-column: 1;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-i-wrap>span {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.unfocus-nav-item {
    transition: color 0.5s;
    color: rgba(128, 128, 128, 0.384);
}

.unfocus-nav-item>i {
    color: rgba(84, 173, 245, 0.363);
}

.focus-nav-item {
    color: rgb(87, 87, 87);
    transition: color 0.5s;
}

.focus-nav-item>i {
    color: rgb(84, 173, 245);
}

.selected-nav-item {
    color: rgb(87, 87, 87);
    transition: color 0.5s;
}

.selected-nav-item>i {
    color: rgb(84, 173, 245);
}

.hightlight-container {
    opacity: 0;
    grid-template-columns: 1;
    background: rgb(100, 100, 250);
    border-radius: 2px;
    transition: opacity 0.5s;
}

.selected-container {
    opacity: 1;
    display: none;
    grid-template-columns: 1;
    background: #1616fd;
    border-radius: 2px;
}

.nav-main-wrap {
    grid-column: 1;
    grid-row: 2;
}

.dash-items {
    width: 100%;
    height: 100%;
}

.photos-cont {
    display: flex;
    background: red;
}

.upload-cont {
    display: none;
    background: beige;
}

.login-act-cont {
    display: none;
    background: brown;
}

.upload-hist-cont {
    display: none;
    background: cornflowerblue;
}

.acc-man-cont {
    display: none;
    grid-template-columns: 30% 1fr;
    grid-template-rows: 100%;
    /* background: black; */
}

.acc-man-left-cont {
    display: grid;
    grid-column: 1;
    grid-template-columns: 100%;
    grid-template-rows: 20% 1fr;
}

.dash-items-cont-header-wrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dash-items-cont-header-wrap {
    grid-column: 1;
    grid-row: 1;
}

.dash-items-cont-header-wrap>span {
    font-size: 2rem;
    margin-left: 5%;
    color: blue;
}

.acc-man-right-cont {
    grid-column: 2;
}

.acc-man-options-cont {
    grid-column: 1;
    grid-row: 2;
    display: flex;
}

.acc-man-options {
    width: 100%;
    height: 70%;
    /* background: red; */
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 10% 1fr 10%;
    justify-items: center;
    align-items: flex-start;
}

.acc-man-option-wrap {
    grid-column: 2;
    width: 100%;
    height: 10%;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 100%;
    cursor: pointer;
}

.selected-option {
    background: rgba(135, 207, 235, 0.178);
    border-radius: 20px;
}

.acc-man-option-wrap>i {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    color: blue;
    grid-row: 1;
}

.acc-man-option-wrap>span {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.acc-man-flex-wrap {
    grid-row: 1;
    grid-column: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.delete-acc-option {
    background: rgba(255, 0, 0, 0.171);
    border-radius: 20px;
}

.delete-acc-option>i {
    color: red;
}

.delete-acc-option>span {
    color: red;
}

.change-pass-cont,
.change-lang-cont,
.delete-acc-cont {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.change-pass-cont {
    justify-content: center;
    align-items: center;
}

.change-pass-wrap,
.change-lang-wrap {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.change-pass-wrap>input {
    border: none;
    width: 90%;
    height: 10%;
    padding: 0 10px 0 10px;
    background: rgba(255, 255, 255, 0.384);
    border-radius: 5px;
}

.update-pass-error-wrap {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.update-pass-error-wrap>span {
    color: red;
}

#acc-update-pass-btn {
    border: none;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    background: rgba(110, 110, 250, 0.418);
    color: rgb(17, 0, 255);
    align-self: flex-end;
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
}

#acc-update-pass-btn:focus {
    outline: none;
}

#acc-update-pass-btn:disabled {
    background: rgba(110, 110, 250, 0.048);
    color: rgba(17, 0, 255, 0.192);
    transition: background 0.5s, color 0.5s;
}

.change-lang-wrap>h1 {
    color: blue;
}

.lang-wrap {
    overflow-y: scroll;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.lang-item-cont {
    width: 100%;
    height: 20%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 20% 1fr;
    justify-items: flex-start;
    align-items: center;
}

.lang-item-cont>.lang-icon {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang-name {
    grid-row: 1;
    grid-column: 2;
    height: 60%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.lang-icon>img {
    width: 40%;
    height: 40%;
    pointer-events: none;
    filter: invert(44%) sepia(58%) saturate(5571%) hue-rotate(191deg) brightness(104%) contrast(101%);
}

#lang-name-en>span {
    font-family: 'Sen', sans-serif !important;
}

#lang-name-hi>span {
    font-family: 'Poppins', sans-serif !important;
}

.selected-lang {
    background: rgba(122, 122, 255, 0.274);
    border-radius: 4px;
}

#lang-submit-btn {
    border: none;
    width: 20%;
    height: 10%;
    align-self: flex-end;
    border-radius: 10px;
    background: rgba(110, 110, 250, 0.418);
    color: rgb(17, 0, 255);
    cursor: pointer;
    transition: background 0.5s, color 0.5s;
}

#lang-submit-btn:focus {
    outline: none;
}

#lang-submit-btn:disabled {
    background: rgba(110, 110, 250, 0.048);
    color: rgba(17, 0, 255, 0.192);
    transition: background 0.5s, color 0.5s;
}